<div class="container p-5 fondo">
    <div>
        <h1>Menu</h1>
        <hr>
        <form (ngSubmit)="crearMenu()" class=" " style=" width: 800px;" id="formularioCrear">
            <h2>Crear Menu</h2>
            
            <div class="mb-3">
                <label class="form-label">Nombre del Menu:</label>
                <input class="form-control" type="text" [(ngModel)]="menu.nombreMenu"
                    [ngModelOptions]="{standalone:true}" placeholder="" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Ruta:</label>
                <input class="form-control" type="text" [(ngModel)]="menu.rutaMenu"
                    [ngModelOptions]="{standalone:true}" placeholder="" required>
            </div>    
            <div>
                <input class="btn boton btn-lg " type="submit" value="Guardar">
                &nbsp;
                <button class="btn boton btn-lg" click="limpiar()">Limpiar</button>
            </div>
        </form>

    </div>
    <br>
    <br>
    <br>
    <hr>
    <h2>Menus Activos</h2>
    <br>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id del Menu</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ruta</th>
                <th scope="col">Modificaciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menuList">
                <th scope="row">{{menu.idMenu}}</th>
                <td>{{menu.nombreMenu}}</td>
                <td>{{menu.rutaMenu}}</td>
                <td>
                    <button class="btn btn-outline-primary" (click)="modificar(menu)">Modificar</button>
                    &nbsp;
                    <button class="btn btn-outline-danger" (click)="eliminar(menu)">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>